.Instruments {
}

.product img {
  max-width: 100%;
  object-fit: cover;
  max-height: 237px;
}

.filterAndList {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  max-width: 80%;
  gap: 1rem;
}

.filterField {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}