.Nav {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  align-items: center;
  height: 136px;
  left: 0px;
  top: 0px;
}

img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.leftSide,
.rightSide,
li {
  display: flex;
  justify-content: space-between;
}

 ul {
   padding: 0px, 0px, 0px, 0px ;
}
