.Nav {
  display: flex; 
  justify-content: space-between;
  max-width: 1000px;
  align-items: center;
  height: 136px;
  left: 0px;
  top: 0px;
}
.Nav ul {
   text-decoration: none;
   display: flex;
   flex-direction: row;
}

.saxLogo {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.leftSide{
   display: flex;
   align-items: center;
}
.leftSide li {
   display: flex;
   justify-content: space-between;  
   text-decoration: none;
   margin-left: 10px;
}
.rightSide li {
  display: flex;
  justify-content: space-between;
}
.svg-inline--fa  {
   margin-right: 10px;
}
a {
   text-decoration: none;
}